/* .lobby
{
    display: none;
}

.joinLobbyButton
{
    display: none;
}

.createLobbyButton
{
    display: none;
}

.onePlayerButton
{
    display: none;
}

.twoPlayerButton
{
    display: none;
}

.joinTournamentButton
{
    display: none;
}
.createTournamentButton
{
    display: none;
}

.captainButton
{
    display: none;
}

.gunnerButton
{
    display: none;
} */

.lobbyRapidPlay
{
    background-color: rgb(255,255,255, 0.3);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    width: 1600px;
    height: 800px;

}

.lobbyDisplayRapidPlayOnePlayer
{
    display: block;
    z-index: 5;
}

.centerLobbyDisplay
{
    display: flex;
    justify-content: space-between;
    margin-left: 232px;
    margin-right: 232px;
    margin-top: 50px;
    margin-bottom: -50px;
}

.cross
{
    display: flex;
    justify-content: flex-end;
}

.fireBackground
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: -webkit-fill-available;
    height: 228px;
}

.PlayButtonInLobby
{
    background-image: url("../photos/picturePng/lobbyPage/fire.png");
    background-position: center;
    background-repeat: no-repeat;
    font-family: onePieceFont;
    font-size: 500%;
    width: -webkit-fill-available;
    height: 228px;
}

.versus
{
    align-self: center;
}

.videoBackground
{
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}
