.rapidPlay
{
    background-image: url('../photos/picturePng/homePage/Kizaru.png');
}
.tournamentButtonImg
{
    background-image: url('../photos/picturePng/homePage/TournamentLuffy.png');
}

.imgPlayMenu
{
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content: center;
    height: 209px;
    margin-top: 20px;
    margin-bottom: 20px;
}




.centerPlayDisplay
{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-left: -228px;
    width: -webkit-fill-available;
}



.playDisplay
{
    background-color: rgb(255,255,255, 0.3);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playDisplay p
{
    font-size: 300%;
}



.playImg
{
    font-size: 600%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

}

.fontTextPlay
{
    background: linear-gradient(to top, #70d2ff 0%, #ff0800 100%);
    background-clip: text;
    color: transparent;
    font-family: onePieceFont;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-weight: 700;
    font-size: 400%;
    z-index: 3;
    display: block;
}

.playButton
{
    display: flex;
    justify-content: center;
    background-image: url('../photos/picturePng/homePage/Logo_One_Piece.png');
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -50px;
    width: -webkit-fill-available;
    margin-left: -228px;
    height: -webkit-fill-available;
    min-width: 329px;
}