sources/srcs/requirements/web/srcs/.env/*
sources/srcs/requirements/backpong/srcs/.env/*
sources/srcs/requirements/backpong/srcs/backend/.env/*
sources/srcs/requirements/backpong/srcs/gameserver/.env/*
*migrations*
*__pycache__*
*.log
*.pyc
*cpython*
*allauth*
./sources/srcs/.env
.gitignore