/* 
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
} */


.profileFriendInBook
{
    display:flex; 
    flex-direction: column; 
    width:180px; 
    height: 405px; 
    justify-content: space-evenly;
    align-items: center;
    margin-top: -150px;
}

.dropDownMenuInProfileMenu
{
    max-height: 122px; 
    z-index: 0;
}

.profilePage
{
    display: flex;
}

.profileProfilePagePicture
{
    min-width: 243px;
    min-height: 182px;
    max-width: 243px;
    max-height: 182px;
    margin-right: -5px;
    margin-top: 97px;
}


.wantedProfileInProfilePage
{
    display: flex;
    flex-direction: column;
    background-image: url('/photos/picturePng/homePage/Wanted_connexion.png');
    width: 302px;
    height: 442px;
    align-self: end;
}

.wantedProfileInProfilePage p
{
    font-family: wantedFont;
    font-size: 200%;
    margin-top: 32px;
    margin-bottom: -2px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #493B3A;
    font-weight: 700;
    opacity: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wantedProfileInProfilePage span
{
    font-family: wantedFont;
    font-size: 165%;
    opacity: 85%;
    color: #493B3A;
    align-self: center;
}



.popover 
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.bookProfile
{
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 405px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 12px #000;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    color: #000;
    margin-left: 10px;
    align-self: center;
    margin-bottom: 70px;
}

.bookProfile:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }