
#usernameChange
{
    width: 236px;
    margin-left: 5px;
    height: 40px;
    font-size: 25px;

}


#profilPhotoInProfilePage
{
    opacity: 0.9;
}

#profilPhotoInProfilePage:hover
{
    opacity: 1;
    filter:  contrast(170%) brightness(150%) saturate(50%);
}

.statHistoTitle
{
    font-size: 70px; 
    font-family: 'wantedFont';
    color: black;
}

.circleIsConnect
{
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.resultDisplayHistoric
{
    font-size: 30px;
}

.matchDisplayHistoric
{
    background-color: rgba(255,255,255,0.4);
    padding: 45px;
    border-color: #000;
    display:flex;
    border-radius: 200px;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.historicMatch
{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: -webkit-fill-available;
}

.bottomProfilePage
{
    background-image: url("/photos/picturePng/profilePage/bottomProfile.png");
    height: 300px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.historicBanner
{
    /* background-image: url("/photos/picturePng/profilePage/historicBackground.png"); */

    font-family: 'wantedFont';
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileFriendInBook
{
    display:flex; 
    flex-direction: column; 
    width:180px; 
    height: 405px; 
    justify-content: space-evenly;
    align-items: center;
    margin-top: -150px;
}

.dropDownMenuInProfileMenu
{
    max-height: 122px; 
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.info-dropdownMenu
{
    color: azure;
    font-weight: 800;
}

.profilePage
{
    display: flex;
    height: 100%;
}

.profileProfilePagePicture
{
    min-width: 243px;
    min-height: 182px;
    max-width: 243px;
    max-height: 182px;
    margin-right: -5px;
    margin-top: 97px;
    background-color: rgb(91, 222, 226);
}

.wantedProfileInProfilePage
{
    display: flex;
    flex-direction: column;
    background-image: url('/photos/picturePng/homePage/Wanted_connexion.png');
    width: 302px;
    height: 442px;
    align-self: end;
}

.wantedProfileInProfilePage p
{
    font-family: 'wantedFont';
    font-size: 200%;
    margin-top: 32px;
    margin-bottom: -2px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #493B3A;
    font-weight: 700;
    opacity: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wantedProfileInProfilePage span
{
    font-family: 'wantedFont';
    font-size: 165%;
    opacity: 85%;
    color: #493B3A;
    align-self: center;
}

.popover 
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bookProfile
{
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 405px;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 1px 1px 12px #000;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    color: #000;
    margin-left: 10px;
    align-self: center;
}

.bookProfile:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }

.progress-container {
    position: relative;
    width: 150px;
    height: 150px;
}

.circular-progress {
    position: relative;
    width: 100%;
    height: 100%;
    background: conic-gradient(
        #4caf50 0% 75%, /* 75% is the progress percentage */
        #e0e0e0 75% 100%
    );
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-progress .progress-value {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: black;
}


/* From Uiverse.io by suleymanlaarabidev */ 
.card {
    width: 190px;
    height: 254px;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 20px;
    font-weight: 900;
    min-width: 150px;
  }
  
  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: rgb(103, 151, 255);
  }
  
  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    border-radius: 15px;
  }
  
  .card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
  .card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 20px;
    transform: rotate(0deg);
  }
  