#centerTournament
{
    flex-direction: column;
    width: 1400px;
    height: 700px;
    margin-top: 50px;
    background-color: rgba(255,255,255, 0.3);
}




#tournamentTitle
{
    display: flex;
    justify-content: center;
}

#tournamentWrite
{
    font-family:'wantedFont';
    color:black;
    font-size: 80px;
}

.tournamentChoseJoinOrCreate
{
    font-family: 'wantedFont';
    color: black;
    font-size: 60px;
}


#tournamentContent
{
    width: 800px;
    height: 600px;
    background-color: rgba(0,0,0, 0.5);
    align-self: center;
}


#joinCreateTournament
{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
}

#tournamentStartDiv
{
    display: flex;
    justify-content: space-between;
}

#startTournament
{
    align-self: center;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    margin-right: -56px;
}

.writeNumbersOfPlayers
{
    font-family: 'wantedFont';
    color: black;
    font-size: 40px;
}