.binaryTree
{
    display:flex;
    flex-direction: column;
}

#trophyTournamentImage
{
	filter: drop-shadow(8px 5px 2px rgba(0, 0, 0, 1));
}

#fruitWinDiv
{
	background-image: url('/static/photos/picturePng/tournament/MeraMeraNoMi.png');
	background-size: cover;
	height: 160px;
	width: 145px;
	align-self: center;
	filter: drop-shadow(12px 7px 1px rgba(0, 0, 0, 1));
	align-content: center;
	align-items: center;
	margin-bottom: 60px;
}

#winnerOfTheTournament
{
    font-family: 'wantedFont';
    color: #000000;
    font-size: 30px;
    text-shadow: 1.5px 1.5px 0px rgb(255,255,255, 0.8);
}

.matchTournament
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
	margin-left: 80px;
}

.stepInTournament
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
}

#centerTournament
{
	flex-direction: column;
	width: 1400px;
	height: 700px;
	margin-top: 50px;
	background-color: rgba(255,255,255, 0.3);
}


.stageWriteTournament
{
	font-family: 'wantedFont';
	font-size: 40px;
	text-shadow: 1px 1px 1px rgba(0.0.0.1);
	color: #ff7800;
}

#tournamentTitle
{
	display: flex;
	justify-content: center;
}

#tournamentWrite
{
	font-family:'wantedFont';
	color:black;
	font-size: 80px;
}

.tournamentPlayer
{
	background-color: rgba(255,255,255, 0.7);
	width: 290px;
	justify-content: center;
	display: flex;
	border-radius: 80%;
	margin: 15px;
	display: flex;
}

.usernameTournament
{
	font-family: 'wantedFont';
	color: black;
	font-size: 30px;
	align-self: center;
}

.tournamentCodeDisplay
{
	font-family: 'wantedFont';
	color: black;
	font-size: 40px;
}

.tournamentChoseJoinOrCreate
{
	font-family: 'wantedFont';
	color: black;
	font-size: 60px;
}


#tournamentContent
{
	width: 640px;
	height: 350px;
	align-self: center;
	display: ruby;
}


.versusImgInTournament
{
	height: 25px;
	align-self: center;
}

#joinCreateTournament
{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	flex-direction: column;
	justify-content: space-around;
	display: flex;
}

#tournamentStartDiv
{
    display: flex;
    justify-content: center;
	text-shadow: -6px -2px 1px black;
}

#startButtonTournament
{
	align-self: center;
	text-shadow: -6px -2px 1px black;
}

#startTournament
{
    align-self: center;
    width: -webkit-fill-available;
    justify-content: center;
	display: flex;
	font-size: 90px;
	color: red;
	transition: all 0.3s;
	margin-top: 20px;
}

#startTournament:hover
{
	font-size: 100px;
}

.writeNumbersOfPlayers
{
    font-family: 'wantedFont';
    color: rgb(205, 19, 19, 0.9);
    font-size: 40px;
}



/* From Uiverse.io by doniaskima */ 
.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
  width: 120px;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}
