<video class="videoBackground" id="videoBackground" autoplay muted loop>
    <source src="{% static 'photos/picturePng/lobbyPage/luffy-vs-usopp.mp4' %}" type="video/mp4">
    <div class="lobbyRapidPlay" id="lobbyRapidPlay">
        <div class="lobbyDisplayRapidPlayOnePlayer" id="lobbyDisplayRapidPlayOnePlayer">
            <p>WANTED</p>
        </div>
        <div class="lobbyDisplayRapidPlayTwoPlayer" id="lobbyDisplayRapidPlayTwoPlayer">
            <p> TEST </p>
        </div>
    </div>
</video>