/* Arrière-plan du menu */
#landscape_menu {
    position: fixed; /* Utilisez 'fixed' pour couvrir tout l'écran */
    width: 100vw;   /* 100% de la largeur de la fenêtre d'affichage */
    height: 100vh;  /* 100% de la hauteur de la fenêtre d'affichage */
    top: 0;
    left: 0;
    background: url(/static/pong/css/images/landscape_menu.png) no-repeat center center;
    background-size: cover; /* Couvre toute la zone disponible sans perdre les proportions */
    z-index: -1; /* Assure que l'arrière-plan est derrière tous les autres contenus */
}

/* Styles de base pour le corps et le HTML */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bouton de démarrage du jeu */
#startGame {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#flag_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex; /* Utilise Flexbox pour aligner les enfants horizontalement */
    align-items: flex-start; /* Alignement vertical en haut */
    justify-content: flex-end; /* Alignement horizontal à droite */
    padding-top: 1vh; /* Espacement en haut pour éviter que les drapeaux touchent le bord */
    padding-right: 1vw; /* Espacement à droite pour éviter que les drapeaux touchent le bord */
}

/* Drapeaux */
#drapeau_france, #drapeau_angleterre, #drapeau_espagne {
    position: relative; /* Position relative pour le placement dans Flexbox */
    width: 3vw; /* Taille uniforme pour tous les drapeaux */
    height: 3vw; /* Taille uniforme pour tous les drapeaux */
    background-size: contain; /* Maintient les proportions tout en s'adaptant à la taille de l'élément */
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1vw; /* Ajoute un peu d'espace entre les drapeaux */
}

#drapeau_france {
    background-image: url(/static/pong/css/images/france_flag.png);
}

#drapeau_angleterre {
    background-image: url(/static/pong/css/images/english_flag.png);
}

#drapeau_espagne {
    background-image: url(/static/pong/css/images/spain_flag.png);
}

/* Chat et autres composants interactifs */
#chat {
    position: absolute;
    width: 20.3vw;
    height: 20.6vh;
    left: 9.8vw;
    top: 73.3vh;
    background: #D9D9D9;
}

#chat_text {
    position: absolute;
    width: 20.3vw;
    height: 20.6vh;
    left: 15vw;
    top: 76vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2vw;
    line-height: 3.87vh;
    color: #000000;
    
}

/* Rebecca Newspapers Chat
#rebecca_newspapers_chat {
    position: absolute;
    width: 40vw;
    height: 100vh;
    left: 0vw;
    top: 0px;
    background: url(/static/pong/css/images/rebecca_newspapers_chat.png) no-repeat center center;
    background-size: contain; /* Maintient les proportions tout en s'adaptant à la taille de l'élément
} */

/* Wanted Profile */
#wanted_profile {
    position: absolute;
    width: 24vw;
    height: 59vh;
    left: 75vw;
    top: 15.95vh;
    background: url(/static/pong/css/images/Wanted_connexion.png);
}

/* Luffy Avatar Update */
#luffy_avatar {
    position: absolute;
    width: 20.1vw;
    height: 24.5vh;
    left: 77.5vw;
    top: 29.2vh;
    background: url(/static/pong/css/images/luffy_avatar.png);
}

/* Conteneur principal pour les options de jeu */
#player_menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: space-around; /* Distribue l'espace verticalement */
    position: absolute;
    width: 36.05vw;
    height: 75vh;
    left: 35.85vw;
    top: 12.5vh;
    background: rgba(217, 217, 217, 0.3);
    background-size: contain;
}

/* Styles communs pour tous les boutons avec ajustement pour éviter le rognage */
#tournoi, #partie_rapide, #jouer_ia {
    position: relative; /* Position relative pour superposer les images */
    width: 100%; /* Utilisez 100% de la largeur disponible du conteneur parent */
    height: 20%; /* Augmentez la hauteur si nécessaire pour mieux adapter l'image */
    margin-bottom: 2vh; /* Espace entre les boutons */
    background-size: cover; /* Couvre entièrement l'espace du bouton */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Couleur du texte pour contraste */
    font-size: 5vw;
}

/* Ajustement spécifique pour chaque bouton pour garantir que l'image de fond est visible */
#tournoi {
    background: url(/static/pong/css/images/TournamentLuffy.png) no-repeat center center;
    background-size: cover; /* Assure que l'image couvre entièrement le bouton */
}

#partie_rapide {
    background: url(/static/pong/css/images/Kizaru.png) no-repeat center center;
    background-size: cover; /* Assure que l'image couvre entièrement le bouton */
}

#jouer_ia {
    background: url(/static/pong/css/images/Franky_robot_AI.png) no-repeat center center;
    background-size: cover; /* Assure que l'image couvre entièrement le bouton */
}

#jouer_ia_button {
    width: 30.85vw; /* Largeur spécifique pour ce bouton */
    height: 10.42vh;
    background: url(/static/pong/css/images/Jouer_avec_IA_Rouge_button.png) no-repeat center center;
    margin-bottom: 0.5vh; /* Espace entre les boutons */
    background-size: contain;
}

/* Texte pour la partie rapide */
#partie_rapide_button {
    width: 22.95vw;
    height: 10.42vh;
    background: url(/static/pong/css/images/PartieRapide.png) no-repeat center center;
    background-size: contain;
}

/* Tournoi */
#tournoi_button {
    width: 15.46vw;
    height: 10.42vh;
    background: url(/static/pong/css/images/Tournoi.png) no-repeat center center;
    background-size: contain;
}

/* Autres éléments graphiques */
#add_friend_button {
    position: absolute;
    width: 31vw;
    height: 15vh;
    left: 73vw;
    top: 88vh;
    scale: 0.7;
    background: url(/static/pong/css/images/add_friend_button.png);
}