.videoBackground
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;

}

.joinLobbyButton
{
    display: none;
}

.createLobbyButton
{
    display: none;
}

.onePlayerButton
{
    display: none;
}

.twoPlayerButton
{
    display: none;
}

.joinTournamentButton
{
    display: none;
}
.createTournamentButton
{
    display: none;
}

.lobbyRapidPlay
{
    /* display: none; */
    background-color: rgb(255,255,255, 0.7);
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    padding: 200%;
}

.captainButton
{
    display: none;
}

.gunnerButton
{
    display: none;
}