{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pong/css/lobby.css' %}">
    <title>Lobby</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <div id="landscape_menu">
        <!-- Drapeaux pour la sélection de la langue -->
        <div id="flag_container">
            <div id="drapeau_france"></div>
            <div id="drapeau_angleterre"></div>
            <div id="drapeau_espagne"></div>
        </div>

        <!-- Zone de chat -->
        <div id="rebecca_newspapers_chat">
            <div id="chat"> </div>
            <p id="chat_text">CHAT</p>
        </div>

        <!-- Rebecca Newspapers Chat -->

        <!-- Menu de jeu avec les options disponibles -->
        <div id="player_menu">
            <div id="partie_rapide">
                <button id="partie_rapide_button"></button>
                <script>
                    document.getElementById('partie_rapide_button').addEventListener('click', function() {
                        window.location.href = '/lobby/lobby1/';
                    });
                </script>
                <!-- <button id="partie_rapide_button" onclick="startGame()"></button> -->
            </div>
            <div id="tournoi">
                <button id="tournoi_button"></button>
            </div>
            <div id="jouer_ia">
                <button id="jouer_ia_button"></button>
            </div>
        </div>

        <!-- Bouton pour ajouter des amis -->
        <div id="add_friend_button"></div>

        <!-- Avatar de Luffy -->
        <div id="luffy_avatar"></div>

        <!-- Profil recherché -->
        <div id="wanted_profile"></div>
    </div>

    <script>
    function startGame() {
        window.location.href = '/lobby/pong';
    }
    </script>
</body>
</html>