{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'polls/stylesheet.css' %}">
	<title>polls</title>
</head>
<body>
	<div class="video-wrap">
		<video autoplay loop mute playsinline class="bg-video">
			<source src="{% static 'polls/images/video1.webm' %}" type="video/webm">
			
			Your browser does not support the video tag.
		</video>
	</div>
	{% block body %}
	{% endblock body %}
</body>
</html>