asgiref==3.8.1
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.0
Django==5.0.6
django-allauth==64.0.0
gunicorn==22.0.0
idna==3.7
oauthlib==3.2.2
packaging==24.1
psycopg==3.2.1
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.9.0
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.0
typing_extensions==4.12.2
urllib3==2.2.2
