


.friendButton
{
    display: flex;
    justify-content: flex-end;
}

.wantedProfile
{

}


.playImg
{
    justify-content: center;
    background: linear-gradient(to top, #70d2ff 0%, #ff0800 100%);
    background-clip: text;
    color: transparent;
    font-size: 600%;
    font-family: onePieceFont;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    /* cursor: pointer; */
    font-weight: 700;
    padding: 70px;
    /* text-shadow: 
    -2px -2px 0 #ffffff,  
     2px -2px 0 #ffffff,
    -2px  2px 0 #ffffff,
     2px  2px 0 #ffffff; */
    z-index: 3;
}

.playButton
{
    flex-grow: 1;
    display: flex;
    margin-right: -300px;
    justify-content: center;
    background-image: url('../../../media/photos/picturePng/homePage/Logo_One_Piece.png');
    align-items: center;
    background-position: center;
    padding: 10px 20px;
    background-repeat: no-repeat;
    margin-top: -50px;
}

.centerHomepage
{
    justify-content: space-between;
    width: 100%;
    display: none;
    align-items: center; /* Center vertically */
    margin-top: 250px;
    z-index: 2;
    /* background-size: cover; */

}


.homePage
{
    display: none;
}



.homepageFlag
{
    display: flex;
    justify-content: flex-end;
}

#homepageFlag button
{
    /* float: right; */
    /* margin-right: 0%; */
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#homepageFlag button img
{
    height: 100%;
    width: auto;
}

.englandFlag
{
    transform: scale(1.2);
}